
//- Menu Bar
column.menu
	.top-bar
		.responsive-menu.row
			.top-bar-left
				ul.dropdown.menu
					li.menu-text.logo GIFFARD
					li
						a(href='/')
							span.current-location MAIN
					li
						a(href='/categories')
							span CATEGORIES
			.top-bar-right
				ul.menu
					li#search-icon
						a
							i.fa.fa-search.fa-lg
					li.user
						a
							img(src="http://gravatar.com/avatar/9e6cb7c90ee951ac7f6280cbad6876a6?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-94696e1c3870f64217a8040eedd4a1ed.png" data-toggle="user-actions")
							
.dropdown-pane.float-left#user-actions(data-dropdown data-position-class="bottom" data-v-offset="4" data-h-offset="4" data-close-on-click="true") 
	ul
		li 
			a My Profile
		li 
			a Add Gif
		li 
			a Settings
		li 
			a Sign Out
        
//- Main
.column.search
	.input-group.row
		input.input-group-field(type="text" placeholder="Search Tags")
			
.row.small-up-2.medium-up-3.large-up-4.gallary
	.column(ng-repeat="gifs in main.list")
		.giffard
			img(ng-src="{{gif.url}}")
			p(tag="gif") 
	
			
//- Footer 

.footer
	.row
		.column.medium-3.small-12
			h1.logo GIFFARD
		.column.medium-6.small-12.end
			ul
				li 
					a About
				li
					a Github
				li 
					a Bugs
				li 
					a Contact
	.row.column.small-12
		p.copyright &copy2016 Andrew VanVlack
