/******************************** Site Wide Style ********************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
body {
  background-color: black;
}

.copy-click {
  color: black;
  width: 100%;
  height: 36px;
}
.copy-click:hover {
  cursor: text;
}

input[type=file] {
  display: none;
}

.input-group-field {
  background: #6C727F;
  border: none;
  width: 100%;
  color: white;
  padding-left: 10px;
}
.input-group-field:focus {
  background: #6C727F;
  outline: -webkit-focus-ring-color auto 5px;
}

fieldset {
  border: solid 2px #6C727F;
  color: white;
  padding: 10px;
}
fieldset legend {
  padding: 0 8px;
}
fieldset label {
  color: white;
}

.tag-edit {
  background: #6C727F;
}
.tag-edit:hover {
  cursor: text;
}

.input-group-label {
  background: #31CEC3;
  color: white;
  border: none;
}

.tag-group {
  padding: 5px;
}

.tm-input {
  display: inline;
  width: 150px;
  box-shadow: none;
}
.tm-input:focus {
  background: #6C727F;
  outline: none;
  box-shadow: none;
  border: none;
}

.window {
  background: #262B2F;
  margin-bottom: 20px;
  padding: 15px;
}

input[type=file] {
  display: none;
}

.data-label {
  background: #565B68;
}

.group {
  display: inline-block;
}

.tabify {
  background: #262B2F;
  margin-bottom: 15px;
}
@media screen and (max-width: 63.9375em) {
  .tabify {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (max-width: 63.9375em) {
  .loading-tabs {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.loading-tabs ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
}
.loading-tabs li {
  margin-right: 6px;
  font-weight: bold;
  font-size: 14px;
  padding: 20px 24px;
  color: white;
  display: inline-block;
  background: #262B2F;
}
.loading-tabs li[active=true] {
  border-bottom: solid 6px #262B2F;
}

.gallary {
  padding: 5px;
}
.gallary .column {
  height: 30vmin;
  padding: 10px;
  border: 4px none #262A2D;
}

.giffard {
  height: 100%;
  width: 100%;
  position: relative;
}
.giffard p {
  padding-left: 6px;
  position: absolute;
  bottom: -12px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 39.9375em) {
  .giffard p {
    font-size: 3vw;
  }
}
.giffard img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

/******************************** Menu Bar ********************************/
.logo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #F1E017;
}

.menu {
  padding: 0;
}
.menu .user img {
  height: 32px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(1);
}
.menu .user img:hover {
  filter: none;
  -webkit-filter: none;
}

#user-actions {
  width: 130px;
  padding: 0px;
  border: none;
  background-color: #F6F8F7;
}
#user-actions ul {
  list-style: none;
  margin: 0;
}
#user-actions ul a {
  color: #000;
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  padding: 10px 0 10px 10px;
}
#user-actions ul li:hover {
  background: #DCE4E6;
}

#search-icon {
  background-color: #262B2F;
  padding-left: 4px;
}

.top-bar {
  background: #1B1F22;
  padding: 0px 8px;
}
.top-bar .current-location {
  border-bottom: 3px solid #5D7BF7;
}
.top-bar li {
  height: 55px;
}
.top-bar ul {
  background: #1B1F22;
}
.top-bar a {
  color: white;
}
.top-bar selected {
  color: white;
}

.search {
  padding: 0;
  height: 60px;
  background-color: #1B1F22;
}
.search input {
  height: 60px;
  background-color: #262B2F;
  border: none;
  padding-left: 20px;
  font-size: 1rem;
  box-shadow: none;
  color: white;
  border-bottom: 8px solid #1B1F22;
}
.search input:focus {
  background: #262B2F;
  box-shadow: none;
  border: 6px solid #DF2151;
}

/******************************** Page: Gif Upload ********************************/
#upload-input {
  vertical-align: middle;
  margin-top: 70px;
}
#upload-input .input-group-field,
#upload-input label {
  display: inline-block;
  line-height: 80%;
  height: 60px;
  font-size: 1.3em;
  margin: 0;
}
#upload-input .input-group {
  margin: 0;
}

/******************************** Page: Settings ********************************/
#settings {
  margin-top: 70px;
}

#profile-image-preview {
  width: 100%;
  max-width: 50vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#settings-image {
  margin-bottom: 20px;
}

#img-upload-button {
  display: none;
  margin-top: 8px;
  margin-left: 8px;
}

/******************************** Page: Profile ********************************/
.profile-intro {
  margin-top: 70px;
  margin-bottom: 15px;
  background: #262B2F;
}
.profile-intro .photo {
  padding: 20px;
  text-align: center;
}
.profile-intro img {
  height: 200px;
  width: auto;
  object-fit: cover;
}
.profile-intro .stats {
  vertical-align: middle;
  line-height: 1.5;
  color: black;
  color: #00E6CC;
  padding-top: 30px;
}

/******************************** Page: Gif View/Info ********************************/
.gif-view {
  margin-top: 70px;
  text-align: center;
}

.gif-details {
  margin-top: 20px;
  margin-bottom: 20px;
}
.gif-details .tabs-content {
  color: white;
  background-color: #262B2F;
  border: none;
}
.gif-details .tabs {
  background-color: black;
  border: none;
}
.gif-details .tabs a {
  color: white;
  background-color: #262B2F;
  margin-right: 6px;
  font-weight: bold;
  font-size: 14px;
}
.gif-details .tabs a[aria-selected=true] {
  border-bottom: 6px solid #262B2F;
}
.gif-details .tabs a:hover {
  background-color: none;
}

#social-networks {
  margin-top: 20px;
  margin-left: 0px;
  list-style-type: none;
}
#social-networks li {
  margin-top: 4px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}
#social-networks a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
}
#social-networks .facebook {
  background: #3B5998;
}
#social-networks .twitter {
  background: #55ACEE;
}
#social-networks .tumblr {
  background: #32506D;
}
#social-networks .reddit {
  background: #FF4500;
}
#social-networks .pinterest {
  background: #CB2027;
}
#social-networks .download {
  background: #4FCD75;
}

.title {
  font-weight: 700;
  text-decoration: underline;
}

.uploader {
  color: white;
  background: #7D888A;
  display: inline-block;
  padding: 5px 10px;
}
.uploader h6 {
  display: inline;
  margin-left: 2px;
}
.uploader img {
  height: 30px;
}

.tags {
  list-style-type: none;
  margin-left: 0;
}
.tags li {
  padding: 5px 8px;
  display: inline-block;
  background: #7D888A;
  margin-bottom: 5px;
}
.tags li a {
  color: white;
  display: inline;
  width: 100%;
}

.cat {
  margin-top: 15px;
  text-decoration: underline;
}

/******************************** Page: Categorie Listing ********************************/
.categories {
  padding: 5px;
}
.categories .column {
  height: 30vmin;
  padding: 10px;
  border: 4px none #262A2D;
}

.cat-item {
  height: 100%;
  width: 100%;
  position: relative;
}
.cat-item h3 {
  text-align: center;
  position: absolute;
  top: calc( 50% - 24px );
  width: 100%;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
@media screen and (max-width: 39.9375em) {
  .cat-item h3 {
    font-size: 6vw;
    top: calc( 50% - 5vw );
  }
}
.cat-item img {
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

/******************************** Footer ********************************/
.footer {
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
  color: grey;
  background-color: #1A1E21;
}
.footer .logo,
.footer .copyright {
  color: #7D888A;
  text-align: center;
}
.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4px;
  flex-wrap: wrap;
}
.footer li {
  flex-grow: 1;
  list-style: none;
  font-weight: 700;
  text-align: center;
}
.footer li a {
  color: white;
}