//- Menu Bar
column.menu
	.top-bar
		.responsive-menu.row
			.top-bar-left
				ul.dropdown.menu
					li.menu-text.logo GIFFARD
					li: a: span MAIN
					li: a: span.current-location CATEGORIES
			.top-bar-right
				ul.menu
					li#search-icon
						a: i.fa.fa-search.fa-lg
					li.user: a: img(src="http://gravatar.com/avatar/9e6cb7c90ee951ac7f6280cbad6876a6?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-94696e1c3870f64217a8040eedd4a1ed.png" data-toggle="user-actions")
							
.dropdown-pane.float-left#user-actions(data-dropdown data-position-class="bottom" data-v-offset="4" data-h-offset="4" data-close-on-click="true") 
	ul
		li: a My Profile
		li: a Upload
		li: a Settings
		li: a Sign Out  
//- Main
.column.search
	.input-group.row
		input.input-group-field(type="text" placeholder="Search Tags")

.row.window#settings
	
	.column.small-12.medium-4#settings-image.medium-push-8
		
		img(src="http://gravatar.com/avatar/9e6cb7c90ee951ac7f6280cbad6876a6?s=200")#profile-image-preview
		fieldset#image-source
			legend Image source
			.group
				input(type="radio" name="image-source" value="gravatar" checked)#gravatar-radio
				label(for="gravatar-radio") Gravatar
			.group
				input(type="radio" name="image-source" value="upload" )#upload-radio
				label(for="upload-radio") Upload
				label(for="img-upload").button#img-upload-button 
					i.fa.fa-upload 
					|  Upload
				input(type="file")#img-upload
	.column.small-12.medium-8.medium-pull-4#settings-info
		.input-group
			span.input-group-label Name
			input.input-group-field(type="text" value="Andrew VanVlack")
		.input-group
			span.input-group-label Bio
			textarea.input-group-field
		.input-group
			span.input-group-label Website
			input.input-group-field(type="text" value="https://")
		.input-group
			span.input-group-label URL
			label.input-group-label.data-label(for="url-input") giffard.com/u/
			input.input-group-field(type="text" value="vanvlack")#url-input
			
//- Footer

.footer
	.row
		.column.medium-3.small-12
			h1.logo GIFFARD
		.column.medium-6.small-12.end
			ul
				li 
					a About
				li
					a Github
				li 
					a Bugs
				li 
					a Contact
	.row.column.small-12
		p.copyright &copy2016 Andrew VanVlack
