html
	head
		<base href="/">
		meta(charset="utf-8")
		title Gifs
	body(ng-app="Gifard")
		<ng-view></ng-view>
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js")
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js")
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js")
		script(type="text/javascript" src="/public/app.js")
		script(type="text/javascript" src="/public/controllers/login/login.controller.js")
		script(type="text/javascript" src="/public/controllers/profile/profile.controller.js")
		script(type="text/javascript" src="/public/components/auth/auth.service.js")
		script(type="text/javascript" src="/public/controllers/main/main.controller.js")
		link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="/public/foundations.css")
		link(rel="stylesheet" type="text/css" href="/public/style.css")
		
