//- Menu Bar
column.menu
	.top-bar
		.responsive-menu.row
			.top-bar-left
				ul.dropdown.menu
					li.menu-text.logo GIFFARD
					li: a: span MAIN
					li: a: span.current-location CATEGORIES
			.top-bar-right
				ul.menu
					li#search-icon
						a: i.fa.fa-search.fa-lg
					li.user: a: img(src="http://gravatar.com/avatar/9e6cb7c90ee951ac7f6280cbad6876a6?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-94696e1c3870f64217a8040eedd4a1ed.png" data-toggle="user-actions")
							
.dropdown-pane.float-left#user-actions(data-dropdown data-position-class="bottom" data-v-offset="4" data-h-offset="4" data-close-on-click="true") 
	ul
		li: a My Profile
		li: a Upload
		li: a Settings
		li: a Sign Out
        
//- Main
.column.search
	.input-group.row
		input.input-group-field(type="text" placeholder="Search Tags")
			
.row.column.gif-view
	img(src="https://media.giphy.com/media/oje6kPRIef6Gk/giphy.gif")

.row.column.gif-details
	ul.tabs#control-details(data-tabs)
		li.tabs-title.is-active
			a(href="#details-tab" aria-selected="true") DETAILS
		li.tabs-title
			a(href="#share-tab") SHARE
		li.tabs-title
			a(href="#settings-tab") EDIT
	.tabs-content(data-tabs-content="control-details")
		.tabs-panel.is-active#details-tab
			.row
				.column.small-12.medium-7
					h3.title HELP ME  
					a.uploader
						img(src="http://gravatar.com/avatar/9e6cb7c90ee951ac7f6280cbad6876a6?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-94696e1c3870f64217a8040eedd4a1ed.png")
						h6 Vanvlack
					p.description A scene from spirited away where a dust sprite purposely gives up carry a rock to get sympathy from Chihiro.
					
				.column.small-12.medium-5
					h5.cat ACTIONS | FAIL
					ul.tags
						li: a spirited away
						li: a rock
						li: a dust sprite
		.tabs-panel#share-tab
			.row
				.column.small-12.medium-8
					span GIFFARD LINK: 
					input.copy-click(readonly="readonly" value="http://giffard.com/hg443slk/")
					span DIRECT LINK: 
					input.copy-click(readonly="readonly" value="http://giffard.com/gif/hg443slk/")
					a(href="#filedownload")
				.column.small-12.medium-4
					ul#social-networks
						li.facebook: a(href="http://www.facebook.com/sharer/sharer.php?u=https://scotch.io"): i.fa.fa-lg.fa-facebook
						li.twitter: a(href="http://twitter.com/share?text=<TITLE>&url=<URL>"): i.fa.fa-lg.fa-twitter
						li.tumblr: a(href="http://www.tumblr.com/share/link?url=SHARE_URL&name=SHARE_TITLE&description=SHARE_CONTENT"): i.fa.fa-lg.fa-tumblr
						li.reddit: a(href="http://reddit.com/submit?url=SHARE_URL&title=SHARE_TITLE"): i.fa.fa-lg.fa-reddit-alien
						li.pinterest: a(href="http://pinterest.com/pin/create/button/?url=<URL>&description=<TITLE>"): i.fa.fa-lg.fa-pinterest-p
						li.download: a(href="http://pinterest.com/pin/create/button/?url=<URL>&description=<TITLE>"): i.fa.fa-lg.fa-download
		.tabs-panel#settings-tab
			.row
				.column.small-12.medium-6
					.input-group
						span.input-group-label Title
						input.input-group-field(value="Help Me")
					.input-group
						span.input-group-label Category
						select.input-group-field
							option Funny
							option Reaction > Scared 
							option Reaction > Cry
							option Reaction > 
							option Reaction
							option(selected="true") Actions > Fail
							option Actions > 
							option
				.column.small-12.medium-6
					.input-group.tag-edit
						span.input-group-label Tags
						.tag-group
							input.tm-input.input-group-field(type="text" name="tags" placeholder="")
			.row.column
				button.button Save
				button.button Cancel
				button.button
					i.fa.fa-trash
					|  Delete
			
//- Footer

.footer
	.row
		.column.medium-3.small-12
			h1.logo GIFFARD
		.column.medium-6.small-12.end
			ul
				li 
					a About
				li
					a Github
				li 
					a Bugs
				li 
					a Contact
	.row.column.small-12
		p.copyright &copy2016 Andrew VanVlack
